<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GRADE_Calculator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GRADE_Calculator.My.MySettings>
            <setting name="FormColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FormName" serializeAs="String">
                <value>Grade Calculator</value>
            </setting>
        </GRADE_Calculator.My.MySettings>
    </userSettings>
</configuration>